.carousel-caption {
    right: 45%;
    text-align: left;
    bottom: 30%;
}

.carousel-caption h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.carousel-caption h1 {
    font-size: 80px;
    padding-bottom: 10px;
}

.carousel-caption p {
    font-size: 18px;
    opacity: 60%;
}

.text{
    text-align:center;
    width: 100%;
}

.text h2{
    font-size:90px;
    padding-left: 50px;
}

.btn {
    line-height: 3.5
}

.carousel-control-prev-icon {
    visibility: hidden;
}

.carousel-control-next-icon {
    visibility: hidden;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    border-radius: 50%
}